/* General */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}

body,
.settings-btn,
.sidebar,
.title,
.subtitle,
.main-esp-btn,
.main-pac-btn,
.main-pub-btn,
.hands-img {
    transition: all 0.3s ease;
}

body{
    background-color: #0d0d0d;
}

/* Fuentes */
.lexend-semibold{
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.lexend-medium{
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.lexend-regular{
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Iconos */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

/* Elementos */
.header-cont{
    display: flex;
    align-items: flex-end;
    justify-content: right;
    margin-top: 10px;
    margin-right: 10px;
}

.settings-btn{
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.settings-btn:hover{
    color: #0066FF;
}

main{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.title{
    color: whitesmoke;
    font-size: 5em;
    margin-bottom: 20px;
}

.subtitle{
    color: whitesmoke;
    font-size: 1.5em;
    margin-bottom: 40px;
}

.options-cont{
    display: flex;
    justify-content: center;
    gap: 20px; /* Espacio entre los elementos */
}

.main-esp-btn,
.main-pac-btn,
.main-pub-btn{
    display: flex;
    align-items: center;
    padding: 20px 40px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: whitesmoke;
    cursor: pointer;
    transition: all 0.3s ease;
}

.main-esp-btn:hover,
.main-pac-btn:hover,
.main-pub-btn:hover{
    background-color: #0066FF;
}

.main-btn-icon{
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.hands-img{
    width: 40%;
    height: 45%;
    background-size: cover;
    background-position: center;
    background-image: url(../assets/img/png_inverted_hands.png);
    border: none;
    background-color: transparent;
    padding: 0;
}