* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

body{
    background-image: url('../assets/img/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/*Fuentes*/

.lexend-regular{
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.lexend-regular-error{
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: red;
}

.lexend-medium{
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.lexend-semibold{
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.navbar{
    background-color: #0066FF;
    display: flex;
    align-items: center;
    overflow: hidden;
    max-height: auto;
    min-height: auto;
    height: 80px;
    padding: 5px;
    top: 0;
    box-shadow: 0 12px 5px rgba(0, 0, 0, 0.2);
}

.navbar img{
    max-width: 100%;
    height: auto;
    max-height: 100px;
    display: block;
}

.form-box{
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
    width: 90%;
    margin: 50px;
    padding: 30px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 12px 10px rgba(0, 0, 0, 0.2);
    text-align: left;
    overflow: hidden;
    position: relative;
}

.form-box h2{
    font-size: 28px;
    margin-top: 40px;
    color: whitesmoke;
}

.form-box .text-credentials{
    margin-bottom: 40px;
    color: #0066FF;
}

.form-box .input-email,
.form-box .input-pass{
    font-size: 15px;
    margin-bottom: 20px;
    padding-right: 140px;
    color: #0066FF;
    display: block;
}

.form-box input[type="email"],
.form-box input[type="password"]{
    width: 60%;
    margin-bottom: 30px;
    padding: 8px;
    border: 0.2px solid #0066FF;
    border-radius: 5px;
}

.form-box .error-auth{
    margin: 40px 0 0;
    text-align: center;
}

.form-box button{
    margin: 10px auto 10px;
    display: block;
    padding: 8px 50px;
    border-radius: 10px;
    border-width: 1px;
    background-color: #0066FF;
    font-size: 20px;
}

.form-box button:active{
    background-color: white;
    color: #0066FF;
}

.info{
    text-align: center;
    font-size: 15px;
}

.info span{
    color: whitesmoke;
}

.extra-box{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    max-width: 50%;
}

.image{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.image img{
    max-width: 100%;
    height: auto;
    max-height: 100px;
    display: block;
}

.extra-box h1{
    color: whitesmoke;
    margin: 20px;
}

.extra-box p{
    color: #0066FF;
    margin: 20px;
}

.admin-image{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px; 
}

.admin-image img{
    max-width: 100%;
    height: auto;
    max-height: 200px;
    display: block;
}

.footer{
    background-color: white;
    height: 300px;
    text-align: center;
    padding: 20px 20px 40px 20px;
    box-shadow: inset 0 15px 10px -10px rgba(0, 0, 0, 0.5);
}

.footer h2{
    color: #0066FF;
    margin: 10px;
}

.footer .cards{
    width: 100%;
    max-width: 1200px;
    height: 340px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}

.footer .cards .card{
    width: 330px;
    height: 340px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.footer .cards .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    border: solid 1px #0066FF;
}

.footer img{
    max-width: 100%;
    height: 180px;
    max-height: 100%;
    margin: 20px;
}

.footer h4{
    font-size: 15px;
    color: #0066FF;
    margin-bottom: 5px;
}

.footer p{
    margin: 0px 10px;
}

.footer h3{
    margin: 30px;
    padding: 30px;
}

/* Media query celulares */
@media (max-width: 800px) {
    .extra-box{
        display: none;
    }

    .form-box{
        margin: 20px;
    }
}

@media (height: 1024px),
       (width: 768px),
       (height: 1366px),
       (width: 1024px){
    body{
        background-image: none;
    }
}