/* General */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-y: hidden;
}

body,
.settings-btn,
.sidebar,
.title,
.subtitle,
.main-esp-btn,
.main-pac-btn,
.main-pub-btn,
.hands-img,
.btn-txt{
    transition: all 0.3s ease;
}

body{
    background-color: #1A1F36;
}

/* Fuentes */
.lexend-semibold{
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.lexend-medium{
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.lexend-regular{
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Iconos */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

/* Elementos */
.header-cont{
    display: flex;
    align-items: flex-end;
    justify-content: right;
    margin-top: 10px;
    margin-right: 10px;
}

.settings-btn{
    transition: all 0.3s ease;
}

.settings-btn{
    color: whitesmoke;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.settings-btn:hover{
    color: #0066FF;
}

.dark-mode-toggle{
    color: whitesmoke;
}

main{
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.title{
    font-size: 5em;
    margin-bottom: 20px;
    color: #0066FF;
}

.title.smallfont{
    font-size: 4em;
}

.title.bigfont{
    font-size: 6em;
}

.subtitle{
    color: whitesmoke;
    font-size: 1.5em;
    margin-bottom: 40px;
}

.subtitle.smallfont{
    font-size: 1em;
    margin-bottom: 40px;
}

.subtitle.bigfont{
    font-size: 2.5em;
    margin-bottom: 40px;
}

.btn-txt{
    font-size: 1em;
}

.btn-txt.smallfont{
    font-size: .8em;
}

.btn-txt.bigfont{
    font-size: 1.5em;
}

.options-cont{
    display: flex;
    justify-content: center;
    gap: 20px; /* Espacio entre los elementos */
}

.main-esp-btn,
.main-pac-btn,
.main-pub-btn{
    display: flex;
    align-items: center;
    padding: 20px 40px;
    border: 2px solid #0066FF;
    border-radius: 8px;
    background-color: whitesmoke;
    cursor: pointer;
    transition: all 0.3s ease;
}

.main-esp-btn:hover,
.main-pac-btn:hover,
.main-pub-btn:hover{
    background-color: #0066FF;
}

.main-btn-icon{
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.hands-img{
    width: 40%;
    height: 45%;
    background-size: cover;
    background-position: center;
    background-image: url(../assets/img/png_inverted_hands.png);
    border: none;
    background-color: transparent;
    padding: 0;
}

/* Media query para celulares y iPad Pro */
@media (max-width: 1024px), 
       (max-height: 1366px) {
    .hands-img {
        display: none;
    }
}

@media (max-width: 900px){
    .title{
        font-size: 2.8em;
    }
    
    .title.smallfont{
        font-size: 2.6em;
    }
    
    .title.bigfont{
        font-size: 3em;
    }

    .subtitle{
        font-size: 0.9em;
        margin-bottom: 40px;
        text-align: center;
    }
    
    .subtitle.smallfont{
        font-size: 0.8em;
        margin-bottom: 40px;
    }
    
    .subtitle.bigfont{
        font-size: 1em;
        margin-bottom: 40px;
    }

    .options-cont{
        flex-direction: column;
    }

    .main-esp-btn,
    .main-pac-btn,
    .main-pub-btn{
        padding: 15px 30px;
    }
}