/*General*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

/*Fuentes*/
.lexend-semibold{
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.lexend-medium{
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.lexend-regular{
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.lexend-light{
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

/*Iconos*/
.material-symbols-outlined{
    font-variation-settings:
    'FILL' 0,
    'wght' 600,
    'GRAD' 0,
    'opsz' 24
}

body,
.settings-icon-btn,
.txtdetails,
.txtwelcome,
.txtwarning,
.details,
.panel-text,
.title-dates,
.elements-in,
.elements-out,
th.thead-dates,
td.date-cell,
.search-input{
    transition: all 0.3s ease;
}

.head{
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}

.txts{
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.txtdetails.bigfont{
    font-size: 2.5em;
}

.txtdetails.smallfont{
    font-size: 1.5em;
}

.txtwelcome{
    color: #6C757D;
    margin-left: 5px;
}

.txtwelcome.bigfont{
    font-size: 1.3em;
}

.txtwelcome.smallfont{
    font-size: 0.8em;
}

.txtwarning{
    color: #0066FF;
    margin-left: 5px;
}

.txtwarning.bigfont{
    font-size: 1.5em;
}

.txtwarning.smallfont{
    font-size: 0.8em;
}

.elements-out{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: #0066FF;
    width: 100%;
    margin-top: 40px;
    padding: 25px;
    gap: 30px;
    border-radius: 5px;
    box-shadow: 0px 19px 15px rgba(0, 0, 0, 0.1);
}

.elements-in{
    display: flex;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 0px 19px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.left-part,
.right-part{
    width: 50%;
}

.left-head-cont{
    display: flex;
    justify-content: space-between;
}

.right-head-cont{
    display: flex;
    justify-content: right;
    margin-bottom: 10px;
}

.right-body-cont{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h3{
    font-size: 15px;
    margin-bottom: 10px;
}

.img-panel{
    width: 400px;
    height: auto;
    border-radius: 5px;
}

.detail-nombre,
.detail-apellido{
    margin-top: 10px;
}

.details.bigfont{
    font-size: 1.3em;
}

.details.smallfont{
    font-size: .8em;
}

.credentials-cont{
    display: flex;
    gap: 10px;
}

.img-perfil{
    width: 40px;
    height: 40px;
    border-radius: 25px;
    box-shadow: 0px 19px 15px rgba(0, 0, 0, 0.1);
}

.icon-citas{
    display: block;
    height: auto;
    cursor: pointer;
    max-width: 100%;
    max-height: 30px;
    transition: color 0.2s ease;
}

.icon-citas:hover{
    color: #0066FF;
}

.panel-text.bigfont{
    font-size: 1.3em;
}

.panel-text.smallfont{
    font-size: .8em;
}

.elms-cont{
    display: flex;
    gap: 20px;
}

.data-cont{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.especialidad-cont{
    display: flex;
}

.settings-icon-btn{
    background-color: white;
    border: none;
    cursor: pointer;
    max-height: 30px;
    margin: 5px;
    transition: all 0.3s ease;
}

.settings-icon-btn:hover{
    color: #0066FF;
}

.light-mode-toggle{
    color: whitesmoke;
}

label{
    color: #0066FF;
    font-size: 12px;
    margin-top: 15px;
}

h2{
    color: #0066FF;
    margin: 10px;
}

.search-input{
    border: none;
    outline: none;
    background-color: #ECF2F8;
    width: 300px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
}

.search-input:focus{
    border: #0066FF solid 1px;
}

.pub-element{
    margin: 10px;
}

.pub-element:hover{
    margin: 12px;
    color: #0066FF;
}

.pay-element{
    list-style-type: none;
    cursor: pointer;
    border: #0066FF 1px solid;
    border-radius: 2px;
    margin: 10px;
    padding: 5px;
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease;
}

.pay-element:hover{
    color: #0066FF;
    background-color: #ffffff;
    margin: 7px;
}

.pub-details-img{
    max-width: 100%;
    max-height: 300px;
    width: auto;
    height: auto;
    display: block;
    margin: 20px 0;
    border-radius: 8px;
}

.title-dates.bigfont{
    font-size: 1.8em;
}

.title-dates.smallfont{
    font-size: 1.2em;
}

.dates-table,
.modal-table{
    width: 100%;
    border-collapse: collapse;
}

th.bigfont{
    font-size: 1.3em;
}

th.smallfont{
    font-size: .8em;
}

th.thead-dates{
    display: flex;
    justify-content: space-between;
    text-align: left;
    background-color: whitesmoke;
    padding: 10px;
    border: 1px solid #ddd;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.1);
}

td.bigfont{
    font-size: 1.3em;
}

td.smallfont{
    font-size: .8em;
}

td.date-cell{
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

td.date-cell:hover{
    background-color: #EAEAEA;
    color: black;
}

th.schedule-thead{
    padding: 10px;
    border: 1px solid #ddd;
    background-color: whitesmoke;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.1);
}

tr.schedule-row:hover{
    background-color: #EAEAEA;
    color: black;
}

td.data-schedule-cell{
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.modal{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 60px;
    transition: all 0.3s ease;
}

.modal.show{
    opacity: 1;
    visibility: visible;
}

.modal-content{
    background-color: whitesmoke;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #0066FF;
    border-radius: 8px;
    width: 80%;
}

.date-data-row{
    display: flex;
    gap: 20px;
}

.date-data-last-row{
    display: flex;
    align-items: center;
    justify-content: center;
}

.date-data-cont,
.date-data-last-cont{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 50%;
    border: #0066FF 2px solid;
    padding: 20px;
    border-radius: 8px;
    margin: 20px;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.date-data-cont:hover,
.date-data-last-cont:hover{
    background-color: #ECF2F8;
}

.date-data-last-cont{
    align-items: center;
}

.date-data-inter-cont{
    display: flex;
}

.date-data-label{
    color: #0066FF;
    margin: 2px;
}

.pay-text-element{
    margin-top: 8px;
    margin-left: 24px;
}

.modal-options-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.close{
    color: #0066FF;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.close:hover,
.close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.pay-close{
    color: #0066FF;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.pay-close:hover,
.páy-close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.paydetail-close{
    color: #0066FF;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.paydetail-close:hover,
.páydetail-close:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.back-modal-btn{
    color: #0066FF;
    font-size: 28px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.back-modal-btn:hover,
.back-modal-btn:focus{
    color: black;
    text-decoration: none;
    cursor: pointer;
}